.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }
}

@media screen and (min-width: 480px) {
  .section {
    padding-bottom: 45px;
  }
}

@media screen and (min-width: 768px) {
  .section {
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-bottom: 60px;
  }
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

body {
  font-family: Roboto, sans-serif;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

textarea {
  resize: none;
}

.summary {
  font-family: Montserrat;
  font-style: normal;
}

@media screen and (max-width: 767.99px) {
  .summary {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .summary {
    padding-top: 40px;
    padding-left: 17px;
    padding-right: 17px;
    padding-bottom: 68px;
    border-bottom: 5px solid var(--bg-title-text-color);
  }
}

@media screen and (min-width: 1200px) {
  .summary {
    padding-top: 60px;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 80px;
  }
}

.summary__name {
  font-weight: 800;
  color: var(--bg-title-text-color);
}

@media screen and (min-width: 480px) {
  .summary__name {
    font-size: 55px;
    line-height: 55px;
  }
}

@media screen and (min-width: 768px) {
  .summary__name {
    font-size: 36px;
    line-height: 36px;
  }
}

@media screen and (min-width: 1200px) {
  .summary__name {
    font-size: 60px;
    line-height: 50px;
  }
}

.summary__job {
  font-weight: bold;
  color: var(--title-text-color);
}

@media screen and (min-width: 480px) {
  .summary__job {
    font-size: 12px;
    line-height: 15px;
  }
}

@media screen and (min-width: 768px) {
  .summary__job {
    margin-top: 17px;
    font-size: 12px;
    line-height: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .summary__job {
    margin-top: 40px;
    font-size: 20px;
    line-height: 20px;
  }
}

.summary__title {
  font-weight: bold;
  color: var(--bg-title-text-color);
}

@media screen and (min-width: 480px) {
  .summary__title {
    font-size: 20px;
    line-height: 25px;
  }
}

@media screen and (min-width: 768px) {
  .summary__title {
    margin-top: 28px;
    font-size: 15px;
    line-height: 25px;
  }
}

@media screen and (min-width: 1200px) {
  .summary__title {
    margin-top: 60px;
    font-size: 24px;
    line-height: 25px;
  }
}

.summary__text {
  font-weight: 500;
  color: var(--text-color);
}

@media screen and (min-width: 480px) {
  .summary__text {
    font-size: 15px;
    line-height: 15px;
  }
}

@media screen and (min-width: 768px) {
  .summary__text {
    margin-top: 1px;
    font-size: 12px;
    line-height: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .summary__text {
    margin-top: 36px;
    font-size: 19px;
    line-height: 25px;
  }
}

.mob-summary {
  font-family: Montserrat;
  font-style: normal;
  background-color: var(--accent-color);
  padding-top: 45px;
  padding-bottom: 45px;
  border-bottom: 5px solid var(--title-text-color);
}

@media screen and (min-width: 768px) {
  .mob-summary {
    display: none;
  }
}

.mob-summary__name {
  font-weight: 800;
  color: var(--bg-title-text-color);
  font-size: 55px;
  line-height: 55px;
  text-align: center;
}

.mob-summary__job {
  font-weight: bold;
  color: var(--title-text-color);
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  margin-top: 20px;
}

.mob-summary__title {
  font-weight: bold;
  color: var(--bg-title-text-color);
  font-size: 20px;
  line-height: 25px;
  margin-top: 30px;
  margin-left: 63px;
}

.mob-summary__text {
  font-weight: 500;
  color: var(--text-color);
  font-size: 15px;
  line-height: 15px;
  margin-top: 10px;
  margin-left: 63px;
  margin-right: 63px;
}

.contact {
  font-family: Montserrat;
  font-style: normal;
}

@media screen and (max-width: 767.99px) {
  .contact {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .contact {
    margin-top: 24px;
    margin-left: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .contact {
    margin-top: 60px;
    margin-left: 78px;
  }
}

.contact__title {
  color: var(--accent-color);
  font-weight: bold;
}

@media screen and (min-width: 480px) {
  .contact__title {
    font-size: 20px;
    line-height: 25px;
  }
}

@media screen and (min-width: 768px) {
  .contact__title {
    font-size: 15px;
    line-height: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .contact__title {
    font-size: 24px;
    line-height: 25px;
  }
}

.contact__list {
  font-weight: 500;
  color: var(--accent-color);
}

@media screen and (min-width: 480px) {
  .contact__list {
    font-size: 15px;
    line-height: 17px;
  }
}

@media screen and (min-width: 768px) {
  .contact__list {
    margin-top: 17px;
    font-size: 12px;
    line-height: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .contact__list {
    margin-top: 35px;
    font-size: 19px;
    line-height: 25px;
  }
}

.contact__link {
  color: var(--accent-color);
  text-decoration: none;
}

.mob-contact {
  background-color: var(--bg-title-text-color);
  font-family: Montserrat;
  font-style: normal;
  padding-top: 45px;
  padding-bottom: 45px;
  padding-left: 63px;
  border-top: 5px solid var(--title-text-color);
}

@media screen and (min-width: 768px) {
  .mob-contact {
    display: none;
  }
}

.mob-contact__title {
  color: var(--accent-color);
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
}

.mob-contact__list {
  font-weight: 500;
  color: var(--accent-color);
  font-size: 15px;
  line-height: 17px;
  margin-top: 15px;
}

.mob-contact__link {
  color: var(--accent-color);
  text-decoration: none;
}

.skills {
  font-family: Montserrat;
  font-style: normal;
  color: var(--accent-color);
}

@media screen and (min-width: 480px) {
  .skills {
    margin-top: 45px;
    margin-left: 63px;
  }
}

@media screen and (min-width: 768px) {
  .skills {
    margin-top: 24px;
    margin-left: 34px;
  }
}

@media screen and (min-width: 1200px) {
  .skills {
    margin-top: 60px;
    margin-left: 78px;
  }
}

.skills__title {
  font-weight: bold;
}

@media screen and (min-width: 480px) {
  .skills__title {
    font-size: 20px;
    line-height: 25px;
  }
}

@media screen and (min-width: 768px) {
  .skills__title {
    font-size: 15px;
    line-height: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .skills__title {
    font-size: 24px;
    line-height: 25px;
  }
}

.skills__list {
  font-weight: 500;
}

@media screen and (min-width: 480px) {
  .skills__list {
    margin-top: 10px;
    font-size: 15px;
    line-height: 17px;
  }
}

@media screen and (min-width: 768px) {
  .skills__list {
    margin-top: 17px;
    font-size: 12px;
    line-height: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .skills__list {
    margin-top: 35px;
    font-size: 19px;
    line-height: 25px;
  }
}

.languades {
  font-family: Montserrat;
  font-style: normal;
  color: var(--accent-color);
}

@media screen and (min-width: 480px) {
  .languades {
    margin-top: 45px;
    margin-left: 63px;
  }
}

@media screen and (min-width: 768px) {
  .languades {
    margin-top: 24px;
    margin-left: 34px;
  }
}

@media screen and (min-width: 1200px) {
  .languades {
    margin-top: 60px;
    margin-left: 78px;
  }
}

.languades__title {
  font-weight: bold;
}

@media screen and (min-width: 480px) {
  .languades__title {
    font-size: 20px;
    line-height: 25px;
  }
}

@media screen and (min-width: 768px) {
  .languades__title {
    font-size: 15px;
    line-height: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .languades__title {
    font-size: 24px;
    line-height: 25px;
  }
}

.languades__list {
  font-weight: 500;
}

@media screen and (min-width: 480px) {
  .languades__list {
    margin-top: 10px;
    font-size: 15px;
    line-height: 17px;
  }
}

@media screen and (min-width: 768px) {
  .languades__list {
    margin-top: 17px;
    font-size: 12px;
    line-height: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .languades__list {
    margin-top: 35px;
    font-size: 19px;
    line-height: 25px;
  }
}

.projects {
  font-family: Montserrat;
  font-style: normal;
}

@media screen and (min-width: 480px) {
  .projects {
    margin-top: 45px;
    margin-left: 63px;
    margin-right: 63px;
  }
}

@media screen and (min-width: 768px) {
  .projects {
    margin-top: 24px;
    margin-left: 17px;
  }
}

@media screen and (min-width: 1200px) {
  .projects {
    margin-top: 60px;
    margin-left: 45px;
  }
}

.projects__title {
  font-weight: bold;
  color: var(--bg-title-text-color);
}

@media screen and (min-width: 480px) {
  .projects__title {
    font-size: 20px;
    line-height: 25px;
  }
}

@media screen and (min-width: 768px) {
  .projects__title {
    font-size: 15px;
    line-height: 25px;
  }
}

@media screen and (min-width: 1200px) {
  .projects__title {
    font-size: 24px;
    line-height: 25px;
  }
}

@media screen and (min-width: 768px) {
  .projects__list {
    margin-top: 3px;
  }
}

@media screen and (min-width: 1200px) {
  .projects__list {
    margin-top: 5px;
  }
}

@media screen and (min-width: 480px) {
  .projects__item {
    margin-top: 15px;
  }
}

@media screen and (min-width: 768px) {
  .projects__item {
    margin-top: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .projects__item {
    margin-top: 30px;
  }
}

.projects__link {
  text-decoration: none;
  font-weight: bold;
  color: var(--title-text-color);
}

@media screen and (min-width: 480px) {
  .projects__link {
    font-size: 16px;
    line-height: 17px;
  }
}

@media screen and (min-width: 768px) {
  .projects__link {
    font-size: 12px;
    line-height: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .projects__link {
    font-size: 20px;
    line-height: 20px;
  }
}

.projects__text {
  font-weight: 500;
  color: var(--text-color);
}

@media screen and (min-width: 480px) {
  .projects__text {
    padding-top: 10px;
    font-size: 15px;
    line-height: 17px;
  }
}

@media screen and (min-width: 768px) {
  .projects__text {
    padding-top: 7px;
    font-size: 11px;
    line-height: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .projects__text {
    padding-top: 15px;
    font-size: 19px;
    line-height: 25px;
  }
}

.work {
  font-family: Montserrat;
  font-style: normal;
}

@media screen and (min-width: 480px) {
  .work {
    margin-top: 45px;
    margin-left: 63px;
    margin-right: 63px;
  }
}

@media screen and (min-width: 768px) {
  .work {
    margin-top: 24px;
    margin-left: 17px;
  }
}

@media screen and (min-width: 1200px) {
  .work {
    margin-top: 60px;
    margin-left: 45px;
  }
}

.work__title {
  font-weight: bold;
  color: var(--bg-title-text-color);
}

@media screen and (min-width: 480px) {
  .work__title {
    font-size: 20px;
    line-height: 25px;
  }
}

@media screen and (min-width: 768px) {
  .work__title {
    font-size: 15px;
    line-height: 25px;
  }
}

@media screen and (min-width: 1200px) {
  .work__title {
    font-size: 24px;
    line-height: 25px;
  }
}

.work__subtitle {
  font-weight: bold;
  color: var(--title-text-color);
}

@media screen and (min-width: 480px) {
  .work__subtitle {
    margin-top: 15px;
    font-size: 16px;
    line-height: 17px;
  }
}

@media screen and (min-width: 768px) {
  .work__subtitle {
    margin-top: 17px;
    font-size: 12px;
    line-height: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .work__subtitle {
    margin-top: 35px;
    font-size: 20px;
    line-height: 20px;
  }
}

.work__text {
  font-weight: 500;
  color: var(--text-color);
}

@media screen and (min-width: 480px) {
  .work__text {
    margin-top: 10px;
    font-size: 15px;
    line-height: 17px;
  }
}

@media screen and (min-width: 768px) {
  .work__text {
    margin-top: 7px;
    font-size: 11px;
    line-height: 25px;
  }
}

@media screen and (min-width: 1200px) {
  .work__text {
    margin-top: 25px;
    font-size: 19px;
    line-height: 25px;
  }
}

.work__list {
  font-weight: 500;
  color: var(--text-color);
}

@media screen and (min-width: 480px) {
  .work__list {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 15px;
    line-height: 17px;
  }
}

@media screen and (min-width: 768px) {
  .work__list {
    margin-top: 7px;
    margin-left: 10px;
    font-size: 11px;
    line-height: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .work__list {
    margin-top: 15px;
    margin-left: 15px;
    font-size: 19px;
    line-height: 25px;
  }
}

.education {
  font-family: Montserrat;
  font-style: normal;
}

@media screen and (min-width: 480px) {
  .education {
    margin-top: 45px;
    margin-left: 63px;
  }
}

@media screen and (max-width: 767.99px) {
  .education {
    margin-bottom: 45px;
  }
}

@media screen and (min-width: 768px) {
  .education {
    margin-top: 24px;
    margin-left: 17px;
  }
}

@media screen and (min-width: 1200px) {
  .education {
    margin-top: 60px;
    margin-left: 45px;
  }
}

.education__title {
  font-weight: bold;
  color: var(--bg-title-text-color);
}

@media screen and (min-width: 480px) {
  .education__title {
    font-size: 20px;
    line-height: 25px;
  }
}

@media screen and (min-width: 768px) {
  .education__title {
    font-size: 15px;
    line-height: 25px;
  }
}

@media screen and (min-width: 1200px) {
  .education__title {
    font-size: 24px;
    line-height: 25px;
  }
}

@media screen and (min-width: 480px) {
  .education__title--current {
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) {
  .education__title--current {
    margin-top: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .education__title--current {
    margin-top: 60px;
  }
}

.education__subtitle {
  font-weight: bold;
  color: var(--title-text-color);
}

@media screen and (min-width: 480px) {
  .education__subtitle {
    margin-top: 15px;
    font-size: 16px;
    line-height: 17px;
  }
}

@media screen and (min-width: 768px) {
  .education__subtitle {
    margin-top: 17px;
    font-size: 12px;
    line-height: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .education__subtitle {
    margin-top: 35px;
    font-size: 20px;
    line-height: 20px;
  }
}

.education__text {
  font-weight: 500;
  color: var(--text-color);
}

@media screen and (min-width: 480px) {
  .education__text {
    margin-top: 10px;
    font-size: 15px;
    line-height: 17px;
  }
}

@media screen and (min-width: 768px) {
  .education__text {
    margin-top: 7px;
    font-size: 11px;
    line-height: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .education__text {
    margin-top: 15px;
    font-size: 19px;
    line-height: 25px;
  }
}

.aside {
  background-color: var(--bg-title-text-color);
}

@media screen and (min-width: 480px) {
  .aside {
    max-width: 480px;
    padding-bottom: 45px;
  }
}

@media screen and (max-width: 767.99px) {
  .aside {
    border-bottom: 5px solid var(--title-text-color);
  }
}

@media screen and (min-width: 768px) {
  .aside {
    min-width: 310px;
    border-right: 5px solid var(--title-text-color);
  }
}

@media screen and (min-width: 1200px) {
  .aside {
    min-width: 500px;
  }
}

@media screen and (min-width: 480px) {
  .image {
    border-bottom: 5px solid var(--title-text-color);
    padding: 50px;
  }
}

@media screen and (min-width: 768px) {
  .image {
    border-bottom: 5px solid var(--accent-color);
    padding: 35px;
  }
}

@media screen and (min-width: 1200px) {
  .image {
    border-bottom: 5px solid var(--accent-color);
    padding: 50px;
  }
}

.mobile-menu {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 83px 48px 40px;
  background-color: #fff;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  transition: 250ms;
}

.mobile-menu.is-open {
  left: 0;
}

.mobile-menu__button {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 15px;
  top: 10px;
  z-index: 15;
  width: 40px;
  height: 40px;
  margin-left: auto;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .mobile-menu__button {
    display: none;
  }
}

.mobile-menu__button:hover {
  color: #2196f3;
}

.mobile-menu__icon-menu {
  fill: currentColor;
}

.mobile-menu__icon-close {
  fill: currentColor;
}

.is-open .mobile-menu__icon-menu {
  display: none;
}

.mobile-menu__icon-close {
  display: none;
}

.is-open .mobile-menu__icon-close {
  display: block;
}

.mobile-menu__item {
  margin-bottom: 32px;
}

.mobile-menu__item:last-child {
  margin-bottom: 0;
}

.mobile-menu__link {
  text-decoration: none;
  color: #212121;
}

.mobile-menu__link:hover {
  color: #2196f3;
}

.mobile-menu__link--current {
  color: #2196f3;
}

.mobile-menu-contact__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-contact__link-tel {
  text-decoration: none;
  font-size: 34px;
  color: #757575;
}

.mobile-menu-contact__link-tel:hover {
  color: #2196f3;
}

.mobile-menu-contact__link-mail {
  text-decoration: none;
  font-size: 24px;
  color: #757575;
  padding: 0;
}

.mobile-menu-contact__link-mail:hover {
  color: #2196f3;
}

.mobile-menu-socials__list {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.mobile-menu-socials__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-menu-socials__item:not(:first-child) {
  padding-left: 10px;
}

.mobile-menu-socials__link {
  text-decoration: none;
  color: #2196f3;
}

.menu-is-open {
  overflow: hidden;
}

:root {
  --bg-title-text-color: #74705d;
  --title-text-color: #000000;
  --text-color: #212121;
  --accent-color: #ffffff;
}
/*# sourceMappingURL=main.css.map */